body{
    margin: 0;
    
    font-family: 'Open Sans', sans-serif;
    
}


.container{
    margin: 0px 166px;
}

.header{
    background-image: url(./img/hero\ image.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line{
    justify-content: space-around;
    padding-top: 50px;
    display: flex;
    align-items: center;
}

/* .nav{
    
} */

.nav-item{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    margin-right: 25px;
    transition: color 0.3s linear;
}

.nav-item:hover{
    color: red;
}


.cart{
    position: relative;
    border-right: 1px solid #fff;
    padding-right: 10px;
    height:50px;

}

.cart-img{
    position: absolute;
    top: 20px;
    right: 7px;

}

.num{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s linear;
}
.num:hover{
    color: red;

}

.phone-text{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.phone-holder{
    display: flex;
    align-items: center;
}
.phone{
    padding-left: 10px;
}

/* .btn{
    background: #FF7400;
    color: #fff;
} */

.button{
    background-color:  #FF7400;;
    text-decoration: none;
    color: #fff;
    padding: 14px 18px;
    font-weight: 700;
    transition:  background-color 0.4s linear;
}
.button:hover{
    background-color: #cc5002;
}


.header-down{
    text-align: relative;
}
.header-title{
    position: absolute;
    left: 199px;
    font-family: 'Tinos', serif;
    color: #D67E35;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    top: 322px;
}
.header-subtitle{
    position: absolute;
    font-size: 80px;
    color: #D67E35;
    font-family: 'Tinos', serif;
    top: 379px;
    left: 175px;
    
}
.header-suptitle{
    position: absolute;
    top:477px;
    left: 316px;
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif ;
}

.header-suptitle:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 12px;
    left: 175px;
}
.header-suptitle:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 12px;
    left: -67px;
}



.header-btn{
    position: absolute;
    left: 336px;
    top:528px;
}
.header-button{
    background-color: #FF7400;
    padding: 14px 28px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family:'Open Sans', sans-serif  ;
    text-decoration: none;
    transition: background-color 0.3s linear;
   
}

.header-button:hover{
    background-color: #ae4305;
}


.cards{
    display: flex;
    justify-content: center;
    
}

.card {
    box-shadow: 10px 10px 40px 20px #0000001A;

    width: 349px;
    margin-right: 31px;
    background-color: #fff;
    margin-top: -80px;
    padding: 10px 10px;

}
.card-image{
    display: flex;
    justify-content: center;
    padding-top: 31px;
}
.card-title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Tinos', serif;
    color: #000000;
    font-size: 26px;
    font-weight: ;
    
}

.card-title span{
    color: #ae4305;
}
.card-desc{
    text-align: center;
    font-family: 'Tinos', serif;
    color: #656363;
    font-size: 26px;
    font-weight: ;
    
}

.history{
    display: flex;
    justify-content: space-between;
    margin-top: 166px;
    margin-left: 100px;
    padding-bottom: 400px;
}


.history-title{
    font-family: 'Tinos', serif;
    color: #000000;
    font-size: 54px;
    font-weight: 400 ;
    width: 444px;
    text-align: center;
    margin: 21px;

}
.history-title span{
    color: #ae4305;
}
.history-desc{
    color: #656363;
    font-size: 16px;
    width: 444px;
    text-align: center;
}

.history-number{
    display: flex;
    width: 444px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;

}
.number-item{
    margin-right: 60px;
    text-align: center;
    font-size: 30px;
    color: #D67E35;
}

.number-item span{
    display: block;
    color: #000000;
    font-size: 20px;
}

.history-images{
    /* position: relative; */
}

.images-1{
    position: absolute;
    z-index: 8;
    top: 1500px;
    left: 920px;

}

.images-2{
    position: absolute;
    z-index: 6;
    top: 1600px;
    left: 700px;
}

.images-3{
    position: absolute;
    z-index: 10;
    top: 1500px;
    left: 600px;
}

.black-block{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img/bg.jpg);
    padding: 80px 0;
}
.left-title{
    color: #D67E34;
    font-family: 'Tinos', serif;
    font-weight: 400;
    font-size: 52px;
    margin-bottom: 20px;
}
.left-text{
font-family: Open Sans;
font-size: 24px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
color: #fff;
}
.right-btn{
    background-color:  #FF7400;;
    text-decoration: none;
    color: #fff;
    padding: 14px 18px;
    font-weight: 700;
    transition:  background-color 0.4s linear;
}
.right-btn:hover{
    background-color: #cc5002;}


    .block-holder{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
.dishes-title{
    padding-top: 132px;
font-family: Tinos;
font-size: 54px;
font-weight: 400;
line-height: 62px;
letter-spacing: 0em;
text-align: center;
color: #000000;


 }
 .dishes-title span{
    color: #D67E34;
 }

 .burgers{
    padding-top: 30px;
    display: flex;
    justify-content:center ;
    /* padding-right: 600px; */
 }
 .burger-item{
    display: flex;
    align-items: center;
    margin-bottom: 29px;
    font-family: Tinos;

 }  

    .burger-text{
        font-size: 26px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
margin-left: 20px;


    
 }
 .burgers-image{
    margin-right: 20px;

 }

 .menu{
    background-image: url(./img/bar-1869656_1920\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
 }
 .menu-title{

    font-family: Tinos;
font-size: 54px;
font-weight: 400;
line-height: 62px;
color: #fff;
text-align: center;
padding-top: 98px;
padding-bottom: 138px;

 }

 .menu-item{
    background-color: #fff;
    text-align: center;
    width: 33%;
    padding-top: 80px;
padding-bottom: 30px;
margin-right: 30px;
 }
.menu-text{
    font-family: Tinos;
font-size: 26px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
padding-top: 16px;
padding-bottom:17 ;
}
.menu-subtext{
    
    font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;

}

.menu-btn{
    background-color:  #FF7400;;
    text-decoration: none;
    color: #fff;
    padding: 14px 67px;
    font-size: 16px;
    font-weight: 700;
    transition:  background-color 0.4s linear;
    box-shadow: 5px 5px 10px 0px #00000040;

}
.menu-btn:hover{
    background-color: #cc5002;}

    .menu-button{
    margin-top: 20px;
    }

    .price-img{
        position: absolute;
        bottom: 0;
        right: 46px;
    }
    .menu-image{
        position: relative;
    }

    .price-420{
        position: absolute;
        bottom: 30px;
        right: 73px;
        font-size: 30px;
        color: #fff;
        font-family: 'Cookie', cursive;
    }


    .menu-items{
        display: flex;
        justify-content: center;
        
    }

.comment{
    background-color: #E5E5E5;
    padding-top: 104px;
    padding-bottom: 139px;
    
}
.comment-text{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin-bottom: 20px;
    font-size: 20px;
}
.comment-image{
    text-align: center;
}
.comment-type{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
.comment-name{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.galery-title{
font-family: Tinos;
font-size: 54px;
font-weight: 400;
text-align: center;
padding-top: 100px;
margin-bottom: 60px;

}
.galery-title span{
    color:#D67E34;
}

.galery-content{
    display: flex;
    justify-content: center;
}
.galery-left{
    margin-right: 20px;
}
.galery-down,
.galery-up{
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}

.cook{
    padding-bottom: 100px;
}

.cook-title{
    font-family: Tinos;
font-size: 54px;
font-weight: 400;
text-align: center;
padding-top: 100px;
margin-bottom: 60px;
}
.cook-title span{
    color:#D67E34;
}
.cook-content{
    display: flex;
    justify-content: space-between;
}

.footer{
    background-color: #000000;
    padding: 50px 0px;
    color: #fff;
    text-align: center;
}

@media(max-width: 1500px){
    .galery-content{
        display: block;
    }
    .img-gal,
    .galery-up,
    .galery-down{
     display:block;
     margin-left: auto;
     margin-right: auto;
    }
    .img-gal{
        margin-bottom: 20px;
    }
    .galery-left{
        margin-right: 0;
    }
}